ws prac/prac1/Temp/Temp/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="celsius_to_farhenheit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="celsius" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="celsius_to_farhenheitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="celsius_to_farhenheitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="farhenheit_to_celsius">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="farhenheit" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="farhenheit_to_celsiusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="farhenheit_to_celsiusResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="celsius_to_farhenheitSoapIn">
    <wsdl:part name="parameters" element="tns:celsius_to_farhenheit" />
  </wsdl:message>
  <wsdl:message name="celsius_to_farhenheitSoapOut">
    <wsdl:part name="parameters" element="tns:celsius_to_farhenheitResponse" />
  </wsdl:message>
  <wsdl:message name="farhenheit_to_celsiusSoapIn">
    <wsdl:part name="parameters" element="tns:farhenheit_to_celsius" />
  </wsdl:message>
  <wsdl:message name="farhenheit_to_celsiusSoapOut">
    <wsdl:part name="parameters" element="tns:farhenheit_to_celsiusResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="celsius_to_farhenheit">
      <wsdl:input message="tns:celsius_to_farhenheitSoapIn" />
      <wsdl:output message="tns:celsius_to_farhenheitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="farhenheit_to_celsius">
      <wsdl:input message="tns:farhenheit_to_celsiusSoapIn" />
      <wsdl:output message="tns:farhenheit_to_celsiusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="celsius_to_farhenheit">
      <soap:operation soapAction="http://tempuri.org/celsius_to_farhenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="farhenheit_to_celsius">
      <soap:operation soapAction="http://tempuri.org/farhenheit_to_celsius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="celsius_to_farhenheit">
      <soap12:operation soapAction="http://tempuri.org/celsius_to_farhenheit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="farhenheit_to_celsius">
      <soap12:operation soapAction="http://tempuri.org/farhenheit_to_celsius" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:52809/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:52809/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>